{% extends 'app/app-base.html' %}
{% block main %}
<body>

    <div class="make-booking">
        <h1 class="booking-title">Make a Booking</h1>
        <div class="booking-desc">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi sint vel, dignissimos vitae ratione porro inventore id suscipit amet iusto praesentium quia soluta magni ipsum explicabo reprehenderit ex cumque voluptatibus.</p>
        </div>
        <div class="booking-dropdown">Make Booking</div>
    </div>

</body>
</html>
{% endblock %}
