<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make a booking</title>
</head>
<body>
    <nav>Caldecotte Park App</nav>

    <div class="make-booking">
        <h1>Make a Booking</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi sint vel, dignissimos vitae ratione porro inventore id suscipit amet iusto praesentium quia soluta magni ipsum explicabo reprehenderit ex cumque voluptatibus.</p>
        <div class="dropdown">Booking</div>
    </div>


    <footer>All rights reserved</footer>
</body>
</html>