@font-face {
        font-family: 'poppins-extralight';
        src: url('/static/fonts/poppins/poppins-extralight-webfont.woff2') format('woff2'),
            url('/static/fonts/poppins/poppins-extralight-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

}

@font-face {
        font-family: 'poppins-light';
        src: url('/static/fonts/poppins/poppins-light-webfont.woff2') format('woff2'),
            url('/static/fonts/poppins/poppins-light-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

}

@font-face {
        font-family: 'poppins-medium';
        src: url('/static/fonts/poppins/poppins-medium-webfont.woff2') format('woff2'),
            url('/static/fonts/poppins/poppins-medium-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

}

@font-face {
        font-family: 'poppins-regular';
        src: url('/static/fonts/poppins/poppins-regular-webfont.woff2') format('woff2'),
            url('/static/fonts/poppins/poppins-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

}

@font-face {
        font-family: 'poppins-semibold';
        src: url('/static/fonts/poppins/poppins-semibold-webfont.woff2') format('woff2'),
            url('/static/fonts/poppins/poppins-semibold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

}

@font-face {
        font-family: 'poppins-bold';
        src: url('/static/fonts/poppins/poppins-bold-webfont.woff2') format('woff2'),
            url('/static/fonts/poppins/poppins-bold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

}S

body {
    font-family: poppins-regular, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    text-align: center;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.container {
    padding: 20px;
}

h1, h2, h3 {
    color: #343a40;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

